.bag-sidebar {
  position: fixed;
  top: 0;
  right: -200px;
  width: 400px;
  height: 100vh;
  padding: 20px;
  z-index: 99999;
  overflow-y: auto;
  background-color: var(--white);
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.bag-sidebar.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.cart {
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, 0.3);
}
.bag-titel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag-sidebar {
  background-color: var(--white);
  box-shadow: 5px 5px 10px 10px rgb(0, 0, 0, 0.3);
}
.close-icon :hover {
  cursor: pointer;
}
